* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

body {
	font-family: 'Courier New', Courier, monospace;
	background-image: url('https://wallpapershome.com/images/pages/pic_h/26417.jpg');
	background-size: cover;
	color: #00ff00;
}

#root {
	width: 100vw;
	height: 100vh;
}
